{% extends "layout.html" %}

{% block body %}

    <form action="/calculate" method="post">
        <label>
            <input autocomplete="off" autofocus name="num1" placeholder="Number 1" type="text">
        </label>

        <label>
            <select name="operation">
                <option disabled selected>None</option>
                {% for operation in operations %}
                    <option value="{{ operation }}">{{  operation }}</option>
                {% endfor %}
            </select>
        </label>

        <label>
            <input autocomplete="off" autofocus name="num2" placeholder="Number 2" type="text">
        </label>

        <button type="submit">Submit</button>
    </form>

{% endblock %}